<div class= "container">
  <h1>Confirm your details</h1>
  <%= @user.username %> <br>
  <%= @user.phone_number %> <br>
  <%= @user.street_name %> <br>
  <%= @user.house_number %> <br>
  <%= @user.additional_info %> <br>

  <% @cart.order_products.each do |order_product| %>
      <%= order_product.product.name %> / <%= order_product.quantity %> / <%= number_to_currency(order_product.total_price) %> <br>
  <% end %>
  Sub total: <%= number_to_currency(@cart.sub_total) %>

  <%= form_for(@order) do |f| %>

      <%= f.submit %>
  
  <% end %>
</div>