<div class="container">
  <div class="my-5">
    <h2>Order ID: <%= @order.id %> <br>
    Total Price: <%= @order.total_price %> <br>
    Order Status: <%= @order.order_status %></h2>
  </div>
  <h1>Products</h1>
  <ul>
    <% sorted_order_products = @order.order_products.sort_by { |op| op.id } %>
    <% sorted_order_products.each do | product | %>
      <%= product.product.name %>   <%= product.quantity %> <br>
    <% end %> 
  </ul>
</div>