<div class="container">
  <div class="my-5">
    <h2>Order ID: <%= @order.id %> <br>
    Total Price: <%= @order.total_price %> <br>
    Order Status: <%= @order.order_status %></h2>
  </div>
  <h1>Products</h1>
  <ul>
    <% sorted_order_products = @order.order_products.sort_by { |op| op.id } %>
    <% sorted_order_products.each do | product | %>
      <%= product.product.name %>   <%= product.quantity %> <br>
    <% end %> 
  </ul>
  <% if @order.order_status == "new_order" %>
   <td>
    <%= form_for @order do |f| %>
      <%= f.collection_select :ddriver_id, Ddriver.where(active: true), :id, :first_name, {}, { class: "form-control" } %>
      <%= f.hidden_field :order_status, value: "in_transit" %>
      <%= f.submit "Set Driver", class: "btn btn-outline-secondary my-1" %>
    <% end %>
  </td>
  <% end  %>
</div>
