<div class="container">
  <div class="my-5">
    <h2>Order ID: <%= @order.id %> <br>
    Total Price: <%= @order.total_price %> <br>
    Order Status: <%= @order.order_status %></h2>
  </div>
  <h1>Products</h1>
  <ul>
    <% sorted_order_products = @order.order_products.sort_by { |op| op.id } %>
    <% sorted_order_products.each do | product | %>
      <%= product.product.name %>   <%= product.quantity %> <br>
    <% end %> 
  </ul>
  <% if @order.order_status == "ready" %>
   <td>
    <%= form_for @order do |f| %>
      <%= f.collection_select :ddriver_id, Ddriver.where(active: true), :id, :first_name, {}, { class: "form-control" } %>
      <%= f.hidden_field :order_status, value: "in_transit" %>
      <%= f.submit "Set Driver", class: "btn btn-outline-secondary my-1" %>
    <% end %>
  </td>
  <% elsif @order.order_status == "in_transit" %>
    <%= link_to 'Finalize Order', finalize_order_path(@order), data: { turbo_method: "patch", turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger my-1", remote: true %>
  <% end  %>

</div>
