<%if user_signed_in?%>
<div class="container">
  <h2>All Products</h2>

  <% @products.each do |product| %>
  <p>Name: <%= product.name %> <br> Unit price of <%= number_to_currency(product.price) %></p>
      <%= button_to "Add #{product.name} to cart", order_products_path(:product_id => product.id) %>
  <% end%>

  <%= link_to "New product", new_product_path %>
</div>
<%else %>
<div class="container">
  <h2>Welcome to pizzashopAA, you should log in before shop</h2>
  <%= link_to "Sign in", new_user_session_path %>
</div>
<% end %>
