<% if user_signed_in? && @user.admin == false %>
<div class="container">
  <div class="menu-icons">
      <div class="icon">
        <a href="/pizzas">
        <%= image_tag 'pizza.png', alt: 'Pizza slice picture', class: 'link-image' %>
        <h3>Pizzas</h3>
        </a>
      </div>
      <div class="icon">
        <a href="/drinks">
        <%= image_tag 'drinks.png', alt: 'Drinks picture', class: 'link-image' %>
        <h3>Drinks</h3>
        </a>
      </div>
      <div class="icon">
        <a href="/desserts">
        <%= image_tag 'desserts.png', alt: 'Desserts picture', class: 'link-image' %>
        <h3>Desserts<h3>
        </a>
      </div>
  </div>
</div>
<% elsif user_signed_in? && @user.admin == true %>
<div class="container">
  <div class="menu-icons">
      <div class="icon">
        <a href="/front_store">
        <%= image_tag 'admin.png', alt: 'Admin picture', class: 'link-image' %>
        <h3>Front Store</h3>
        </a>
      </div>
      <div class="icon">
        <a href="/kitchen">
        <%= image_tag 'kitchen.png', alt: 'Kitchen picture', class: 'link-image' %>
        <h3>Kitchen</h3>
        </a>
      </div>
      <div class="icon">
        <a href="/ddrivers">
        <%= image_tag 'driver.png', alt: 'Driver picture', class: 'link-image' %>
        <h3>Set Delivery Drivers</h3>
        </a>
      </div>
      <div class="icon">
        <a href="/products">
        <%= image_tag 'products.png', alt: 'Products picture', class: 'link-image' %>
        <h3>Set Products<h3>
        </a>
      </div>
  </div>
</div>
<% else %>
<div class="container">
  <div class="banner1-frontpage">
    <div class="banner1-frontpage-text">
      <h5>Welcome to our pizza delivery website! Before you start browsing and placing your orders, we invite you to log in to your account.</h5>
    </div>
    <div class="banner1-frontpage-button">
      <%= link_to "Sign in", new_user_session_path, class: "button-user" %> <br>
    </div>
  </div>
  <div class="banner2-frontpage">
    <h5>Don't have an account yet? No problem! Simply click on the "Sign Up" button and follow the prompts to create your account. It only takes a few minutes, and you'll be able to start placing orders right away.</h5>
    <%= link_to "Sign up", new_user_registration_path, class: "button-user" %> <br>
    <h5>So why wait? Log in or sign up now and start enjoying the convenience and deliciousness of our pizza delivery service!</h5>
  </div>
  <%= image_tag 'pizzaslice.png', alt: 'Pizza slice picture', class: 'frontpage-image' %>
</div>
<% end %>
