<% if user_signed_in? && @user.admin == false %>
  <%= render "menu" %>
<% elsif user_signed_in? && @user.admin == true %>
<div class="container">
  <div class="menu-icons">
      <div class="icon">
        <a href="/front_store">
        <%= image_tag 'admin.png', alt: 'Admin picture', class: 'link-image' %>
        <h3>Front Store</h3>
        </a>
      </div>
      <div class="icon">
        <a href="/kitchen">
        <%= image_tag 'kitchen.png', alt: 'Kitchen picture', class: 'link-image' %>
        <h3>Kitchen</h3>
        </a>
      </div>
      <div class="icon">
        <a href="/ddrivers">
        <%= image_tag 'driver.png', alt: 'Driver picture', class: 'link-image' %>
        <h3>Set Delivery Drivers</h3>
        </a>
      </div>
      <div class="icon">
        <a href="/products">
        <%= image_tag 'products.png', alt: 'Products picture', class: 'link-image' %>
        <h3>Set Products<h3>
        </a>
      </div>
  </div>
</div>
<% else %>
<div class="d-flex justify-content-center">
  <div class="card text-center" style="width: 20rem; height: 30rem;">
    <div class="card-body">
      <h2 class="card-title">Welcome to pizzashopAA</h2>
      <p class="card-text"> <h4>Web application made by Gabriel Assanuma. <br></h4>
      This app is configured to serve users within a maximum radius of 20km from Praça Marque de Pombal. <br> To log in as an admin, use: <br>Phone number: 000000000 <br> Password: 111111. <br>Order your pizza now!</p>
      <%= link_to "Sign in", new_user_session_path, class: "button-user" %> <br>
    </div>
  </div>
</div>
<% end %>
