<div class="container">
  <div class="my-1">
    <% @orders.each do |order| %>
      <h3>Order ID: <%= order.id %></h3>
      <% order.order_products.each do |item| %>
        <ul>
          <li>
            <h2>
              <%= item.product.name %>  / Quantity: <%= item.quantity %>
            </h2>
          </li>
        </ul>
      <% end %>
      <div class="border-bottom my-3">
        <h3>Total Price: <%= number_to_currency(order.total_price) %></h3>
        <h3><%= link_to "Repeat order", new_order_path(order), method: :post, class: "btn btn-outline-secondary my-1" %></h3>
      </div>
    <% end %>
  </div>
</div>