<div class = "container">
  <h2>Your Cart</h2>
  <ul>
    <% @cart.order_products.sort_by { |op| op.id } %>
    <% @cart.order_products.each do |order_product| %>
      <h3><%= order_product.product.name %>
      <%= number_to_currency(order_product.product.price) %> <br></h3>
      <div class="d-flex justify-content-start">
        <div>
          <h3>Quantity: <%= order_product.quantity %></h3>
        </div>
        <div class="d-flex flex-row-reverse ">
          <div class="mx-3"><%= button_to "<i class='fas fa-plus'></i>".html_safe, order_product_add_path(:id => order_product), method: :post %></div>
          <div class="mx-3"><%= button_to "<i class='fas fa-minus'></i>".html_safe, order_product_reduce_path(:id => order_product), method: :post %></div> <br>
        </div>
      </div>
      <div class="d-flex justify-content-start">
        <h2>Total Price: <%= number_to_currency(order_product.total_price) %></h2>
        <div class="mx-3 my-1"><%= link_to "<i class='fas fa-trash fa-lg'></i>".html_safe, order_product_path(order_product), data: { turbo_method: "delete", turbo_confirm: "Are you sure?" }%> </div><br><br><br>
      </div>
    <% end %> 
  </ul>
  <h3>Sub total: <%= number_to_currency(@cart.sub_total) %></h3>
  <%= link_to "Proceed to checkout", new_order_path %> <br>
  <%= link_to "Empty cart", cart_path(@current_cart), data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } %> <br>
  <%= link_to "Keep shopping", root_path%>
</div>