<div class = "container">
  <% if @cart.order_products.empty? %>
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <%= image_tag "emptycart.png", alt: 'A cute pizza cooker', class: '' %>
          <h1>Your cart is Empty!</h1>
          <h1>Go grab some food!</h1>
        </div>
      </div>
    </div>
  <% else %>
    <h2>Your Cart</h2>
    <ul>
      <% sorted_order_products = @cart.order_products.sort_by { |op| op.id } %>
      <% sorted_order_products.each do |order_product| %>
        <h3><%= order_product.product.name %>
        <%= number_to_currency(order_product.product.price) %> <br></h3>
        <div class="d-flex justify-content-start">
          <div>
            <h3>Quantity: <%= order_product.quantity %></h3>
          </div>
          <div class="d-flex flex-row-reverse ">
            <div class="mx-3"><%= button_to "<i class='fas fa-plus'></i>".html_safe, order_product_add_path(:id => order_product), method: :post %></div>
            <div class="mx-3"><%= button_to "<i class='fas fa-minus'></i>".html_safe, order_product_reduce_path(:id => order_product), method: :post %></div> <br>
          </div>
        </div>
        <div class="d-flex justify-content-start my-3 border-bottom">
          <h2>Total Price: <%= number_to_currency(order_product.total_price) %></h2>
          <div class="mx-3 my-1"><%= link_to "<i class='fas fa-trash fa-lg'></i>".html_safe, order_product_path(order_product), data: { turbo_method: "delete", turbo_confirm: "Are you sure?" }%> </div><br><br><br>
        </div>
    </ul>
    <% end %> 
  <h3><div class="mb-5">Sub total: <%= number_to_currency(@cart.sub_total) %></div>
  <div class="my-2"><%= link_to "Proceed to checkout", new_order_path, class: "btn btn-outline-secondary my-1" %> <br></div>
  <div class="my-2"><%= link_to "Empty cart", cart_path(@current_cart), data: { turbo_method: "delete", turbo_confirm: "Are you sure?" }, class: "btn btn-outline-secondary my-1" %> <br></div>
  <div class="my-2"><%= link_to "Keep shopping", root_path, class: "btn btn-outline-secondary my-1" %></div></h3>
  <% end %>
</div>