<div class= "container bg-white text-dark mx-auto">
 <div class= "border border-dark p-3 mb-3">
    <h2>Welcome to pizzashopAA</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
      <div class="form-inputs">
        <%= f.input :phone_number,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "phone_number" } %>
        <%= f.input :password,
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn btn-outline-secondary my-1" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
