<div class="container">
  <h1>Product Details</h1>
  <dl>
    <dt>Name</dt>
    <dd><%= @product.name %></dd>
    <dt>Description</dt>
    <dd><%= @product.description %></dd>
    <dt>Price</dt>
    <dd><%= @product.price %></dd>
  </dl>
  <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-outline-secondary my-1" %>
  <%= link_to 'Back', products_path, class: "btn btn-outline-secondary my-1" %>
</div>